/* Common style for all sections */
section {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
  }
  
  /* When mouse hovers over any section */
  section:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(13, 110, 253, 0.4);
  }
  .dark-mode section:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  }
  